/*HEADER*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bttv-rs-gray-800);
}

.logo-header {
    width: 3em;
    height: 3em;
}

.main-title-twitch {
    font-size: 1.4em;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 7px 1px #6441a5;
    text-transform: uppercase;
    color: white;
}


.navigation-header a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--color-text-white);
    margin-left: 0.5em;
    transition: all 300ms;
}

.navigation-header a:hover {
    color: var(--color-shadow);
    text-shadow: 2px 2px var(--color-letter-black);
}

body {
    background-color: var(--bttv-rs-gray-900);

}

.main-title-police {
    font-size: 2em;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
    color: var(--color-text-white);
}

.main-title-police:hover {
    color: var(--color-shadow);
    text-shadow: 2px 2px var(--color-letter-black);
}

.main-title-police::before {
    content: '[';
}

.main-title-police::after {
    content: ']';
}

/*SECTION*/
.lives-twitch-container {
    display: flex;
    flex-wrap: wrap;
    width: 81%;
    margin-inline: auto;
    background: url(../Images/logo-policia.jpg) center no-repeat;
    background-size: 40%;
}

.twitch-card-streamers {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 20em;
    margin: 1%;
    overflow: hidden;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
    border: 2px solid var(--color-letter-black);
    background-color: #2f3236;
}

.twitch-card-streamers:hover {
    transform: scale(1.08);
    box-shadow: 1px 1px 10px #6441a5;
}

.logo-twitch-channel {
    width: 15em;
    height: 15em;
}

.twitch-card-streamers figure {
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-around;
}


.image-character-rp {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid black;
}

.link-twitch-streamer {
    text-decoration: none;
}

.name-twitch-channel {
    text-align: center;
    color: var(--color-text-white);
    transition: all 300ms;
}

.name-twitch-channel:hover {
    color: var(--color-shadow);
}

.contact-section{
    width: 60%;
    margin-inline: auto;
    margin-top: 4rem;
    background: url(../Images/logo-policia.jpg) center no-repeat;
    background-size: 40%;
}
.text-contact{
    font-size: 1.3rem;
    margin-bottom: 4rem;
    line-height: 1.4;
    color: var(--color-text-white);
}
.sub-title{
    font-size: 2rem;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-shadow);
    text-shadow: 2px 2px black;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-inline: auto;
}

.form label{
    color: var(--color-text-white);
    margin-bottom: 0.4rem;
}
.form input{
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--color-letter-black);
    font-family: 'Inter', sans-serif;
}
.form textarea{
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
}

.button{
    font-family: 'Press Start 2P', cursive;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-text-white);
    text-shadow: 2px 2px #6441a5;
    background-color: var(--color-box-grey);
    transition: all 250ms ease-in-out;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.08);
    background-color: var(--bttv-rs-gray-800);
    border: 2px solid white;
}